
$white: #ffffff;
$black: #000000;
$grey-font: #bbbbbb;
$dark-grey: #c2c2c2;
$dark-grey-1: #868686;
$dark-grey-2: #1d1d1f;
$accent-red: #ef5350;
$hover-red: #f44336;
$error: #fd0000;
$blue: #0ebfd8;
$blue-hover: #078192;
$red: #e95547;

$placeholder-disabled: #A7B3C0;
$grey-placeholder-1: #56738f;
$grey-placeholder-2: #56738f;
$border-error: #FF8B89;
$border-focus: #c4e5ea;
$border-disabled: #f0f2f5;
$border: #dde3e4;

$black-bg: #17181c;
$grey-background: #f5f5f7;

$blue-gradient: linear-gradient(to right, #088193 0%, #0fc8e2);
$red-gradient: linear-gradient(to right, #df272b 0%, #f17e60);

// fonts
$font-small: 12px;
$font-table: 13px;
$font-main: 14px;
$font-middle: 16px;
$font-large: 18px;
$font-subheading: 22px;
$font-heading: 36px;
$font-heading-1: 30px;