<footer class="footer">
    <div class="container footer__container">
        <a target="_blank"
            href="https://www.tvmaze.com/"
            class="footer__copyrights">© TVmaze.com</a>
        <ul class="footer__policy">
            <li class="footer__policy-item">
                <a target="_blank"
                    href="https://www.tvmaze.com/faqs/9/data-policies"
                    class="footer__policy-link">Data Policies</a>
            </li>
            <li class="footer__policy-item">
                <a target="_blank"
                    href="https://www.tvmaze.com/site/privacy"
                    class="footer__policy-link">Privacy Policy</a>
            </li>
        </ul>
        <a target="_blank"
            href="https://www.linkedin.com/in/mariana-svirzhevska-09404a149/"
            class="footer__author">
            Designed by
        </a>
    </div>
</footer>
